
@import url("fonts.css");
@import url("reset.css");

body {
	color: #7D7D7D;
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

[class*="__container"] {
	max-width: 703px;
	margin: 0 auto;
	padding: 0 15px;
}

.page__title {
	text-align: center;
	font-weight: 700;
	font-size: 40px;
	font-family: "Poppins";
	margin: 20px 0;
}

.page__title:hover{
	text-decoration: underline;
}

.page__text {
	margin: 20px;
	padding: 20px;
	background-color: burlywood;
	color: black;
	line-height: 1.21;
}

.page__text:nth-child(even) {
	background: url('../img/practice.jpeg') 0 0 no-repeat;
	color: white;
}
.page__text:nth-child(odd) {
	background-color: black;
	color: azure;
}
.page__text:nth-child(4){
	text-transform: uppercase;
}

.page__wrapper {
	text-align: center;
}

.page__link {
	margin-bottom: 20px;
	padding: 10px 16px;
	color: aliceblue;
	border-radius: 10px;
	background-color: cadetblue;
}

.page__link:hover{
	outline: 3px solid green;
}

.page__link:active {
	background-color: rgb(82, 102, 103);
	outline: 3px solid blue;
}
.block {
	margin-bottom: 15px;
}
.block p{	
	font-weight: 600;
	margin-bottom: 30px;
}
.block__item,
.block__item-1,
.block__item-2 {
	text-align: center;
	margin-bottom: 30px;
}
.block__item a,
.block__item-1 a,
.block__item-2 a{
	color: white;
	padding: 20px;
	border-radius: 10px;
	background-color: darkblue;
	cursor: pointer;
}

.block__item a:hover {
	opacity: 0;
}

.block__item-1 a:hover{
	visibility: hidden;
}

.block__item-2 span {
	display: none;
}

.block__item-2 a:hover span {
	display: inline-block;
}

.line__block {
	width: 100px;
	height: 100px;
	margin-bottom: 20px;
	background-color: blueviolet;
}

.line__block p {
	text-align: center;
	color: white;
	padding-top: 40px;
	font-size: 20px;
	font-weight: 600;
	visibility: hidden;
}

.line__block:hover {
	width: 100%;
}

.line__block:hover p{
	visibility: visible;
}

/* =========================== GAME =================================== */

.game {
	min-height: 650px;
	text-align: initial;
	margin-top: 30px;
	max-width: 900px;
	margin: 0 auto;
	font-size: 0;
}

.game__line {
	background-color: cadetblue;
}

.game__line-1 {
	width: 120px;
	height: 160px;
}
.game__line-2 {
	visibility: hidden;
	width: 20px;
	height: 60px;
}

.game__line-1:hover + .game__line-2,
.game__line-2:hover {
	visibility: visible;
}
.game__line-3 {
	visibility: hidden;
	height: 17px;
}
.game__line-2:hover + .game__line-3,
.game__line-3:hover{
	width: 92.8%;
	visibility: visible;
}
.game__line-3 {
	width: 92.8%;
	height: 20px;
	display: inline-block;
}
.game__line-3-1 {
visibility: hidden;
	margin: 0 90%;
	width: 20px;
	height: 70px;
}

.game__line-3:hover ~ .game__line-3-1,
.game__line-3-1:hover {
	/*display: inline-block;*/
	visibility: visible;
}

.game__line-4 {
	display: inline-block;
	visibility: hidden;
	width: 92.8%;
	height: 20px;
}

.game__line-3-1:hover ~ .game__line-4,
.game__line-4:hover {
	visibility: visible;
}

.game__line-4-1 {
	visibility: hidden;
	width: 30px;
	height: 20px;
}

.game__line-4:hover ~ .game__line-4-1,
.game__line-4-1:hover {
	visibility: visible;
}

.game__line-5 {
	visibility: hidden;
	width: 30px;
	height: 60px;
}

.game__line-4-1:hover ~ .game__line-5,
.game__line-5:hover {
	visibility: visible;
}

.game__line-6 {
	visibility: hidden;
	background-color: red;
	width: 60px;
	height: 60px;
}

.game__line-5:hover ~ .game__line-6,
.game__line-6:hover {
	visibility: visible;
}

.game__line-7 {
	font-size: 20px;
	font-weight: 600;
	margin-top: 20px;
	visibility: hidden;
}

.game__line-6:hover ~ .game__line-7,
.game__line-7:hover {
	visibility: visible;
}

.block__psevdo {
	max-width: 900px;
	margin: 0 auto;
	padding: 60px 0;
}
.block__psevdo p {
	margin-bottom: 20px;
}

.block__psevdo-item:first-child::before {
	content: "";
	margin-right: 20px;
	width: 20px;
	height: 20px;
	background-color: brown;
}

.block__psevdo-item:last-child::after {
	content: "";
	margin-left: 20px;
	width: 20px;
	height: 20px;
	background-color: green;
}

.block__psevdo-item:nth-child(2)::after {
	content: "";
	margin-left: 20px;
	width: 20px;
	height: 20px;
	background-color: green;
}

.block__psevdo-item:nth-child(3)::before {
	content: "";
	margin-right: 20px;
	width: 20px;
	height: 20px;
	background-color: brown;
}

.block__psevdo-item:not(:last-child) {
	margin-bottom: 20px;
}

/*.game__line-3-1:hover ~ .game__line-4,
.game__line-4-1:hover {
	visibility: visible;
}*/

/* ============================== Benefits ============================================= */

.title {
	font-weight: 600;
	line-height: 1.27;
	color: #37393F;
	font-family: "Poppins";
}

.benefits {
	padding: 100px 0;
}
.benefits__container {
	max-width: 722px;
}
.benefits__main,
.benefits__head {
	margin-bottom: 40px;
}
.benefits__title {
	font-size: 30px;
	margin-bottom: 20px;	
}
.benefits__text {
	line-height: 1.46;
}

.benefits__text p:not(:last-child){
	margin-bottom: 15px;
}
.benefits__subtitle {
	color: #6B77E5;
	font-family: "Poppins";
	font-size: 20px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 12px;
}

.benefits__second {
	font-size: 0;
	margin-bottom: 50px;
}
.benefits__img {
	
	vertical-align: top;
	display: inline-block;
	margin-right: 30px;
}
.benefits__img img {
	max-width: 398px;
	max-height: 265px;
}
.benefits__content {
	max-width: 331px;
	display: inline-block;
}
.benefits__title-second {
	font-size: 25px;
	margin-bottom: 15px;
}
.benefits__label {
	color: #40DDB6;
	font-size: 20px;
	margin-bottom: 20px;
}
.benefits__items {
	font-size: 18px;
}
.benefits__item:not(:last-child) {
	margin-bottom: 30px;
}
.benefits__item::before {
	content: "";
	background: url("../img/li.svg") 0 0 no-repeat;
	width: 27px;
	min-height: 28px;
	margin-right: 8px;
	margin-bottom: -6px;
}

/* ===================== Business ============================== */

.business {
	padding-bottom: 100px;
}
.business__container {
	max-width:	722px;
}

.business__content {
	margin-bottom: 47px;
}
.business__label {
	color: #37393F;
	font-weight: 500;
	margin-bottom: 16px;
}
.business__label p::before {
	content: "";
	background-color: #40DDB6;
	width: 12px;
	height: 12px;
	margin-right: 6px;
}
.business__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21;
	margin-bottom: 10px;
	max-width: 414px;
}
.business__text {
	line-height: 1.46;
}

.business__text p:not(:last-child) {
	margin-bottom: 16px;
}

/* ------------ BLOCK ------------------ */


.business__blocks {
	margin-bottom: 48px;
}
.business__block {	
	padding: 28px 41px 28px 38px;
	border: 1px solid #E3E3E3;
}

.block__title {
	font-size: 20px;
	margin-bottom: 12px;
}
.block__title h3::before {
	content: "";
	background: url("../img/li.svg") 0 0 no-repeat;
	width: 27px;
	min-height: 28px;
	margin-right: 19px;
	margin-bottom: -6px;

}
.block__text {
	padding-left: 46px;
	line-height: 1.46;
}
.block__text p:not(:last-child) {
	margin-bottom: 15px;
}

.business__block:not(:last-child) {
	margin-bottom: 31px;
}

.business__link {
	color: #FFF;
	font-weight: 600;
	text-transform: capitalize;

	padding: 22px 35px;
	background: #6B77E5;
}

.business__link:hover {
	text-decoration: underline;
	background: #3e4581;
}

/* ============================= WORK ================================== */

.work {
	text-align: center;
	padding-bottom: 100px;
}
.work__container {
	max-width: 1250px;
}
.work__head {	
margin-bottom: 41px;
	
}
.work__label {
	color: #37393F;
	font-weight: 500;
	margin-bottom: 16px;
}
.work__label p::before {
	content: "";
	width: 12px;
	height: 12px;
	background: #40DDB6;
	margin-right: 6px;	
}
.work__title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.21; 
}
.work__blocks {
	font-size: 0;
	padding-top: 35px;
}
.work__block {
	display: inline-block;
	vertical-align: top;
	max-width: 386px;
	padding: 58px 43px;
	background: #F4F4F4;
	
}
.work__block:not(:last-child) {
	margin-right: 31px;
}

.block__img img {
	border-radius: 50%;
	max-width: 72px;
	max-height: 72px;
	margin-top: -92px;
}
.block__wrapper {
	margin-bottom: 37px;
}
.block__title {
	color: #37393F;
	font-family: "Poppins";
	font-size: 25px;
	font-weight: 600;
	line-height: 1.27;
	margin-bottom: 16px;
}
.block__descr {
	font-size: 18px;	
	line-height: 1.46;
}
.block__descr p:not(:last-child) {
	margin-bottom: 37px;
}
.block__link {
	color: #6B77E5;
	font-weight: 600;
	font-size: 18px;
	text-transform: capitalize;
}
.block__link a:hover {
	text-decoration: underline;
}
/* ---- Для безпеки ---- */
.block__link:not(:last-child){
	margin-bottom: 15px;
}

/* ====================== Jewellery ======================== */

.jewellery {
	padding: 100px 0;
	font-size: 0;
	font-family: "Cormorant Infant";
	color: #000;
}
.jewellery__container {
	max-width: 1244px;
}
.jewellery__title {
	vertical-align: top;
	display: inline-block;
	max-width: 461px;
	padding-top: 100px;
	margin-right: 20px;
}
.jewellery__title::after {
	content: "";
	display: block;
	width: 65%;
	height: 3px;
	background: #78473B;
	margin-top: 13px;
}

.jewellery__title h2 {	
	font-size: 60px;
	font-weight: 700;
	line-height: 1.15;
}

.jewellery__items {
	display: inline-block;
	max-width: 732px;
   width: 100%;
}
.jewellery__item {
	display: inline-block;
	max-width: 334px;
	width: 100%;
}
.jewellery__item:not(:last-child) {
	margin-right: 45px;
}
.jewellery__img {
	display: inline-block;
	margin-bottom: 25px;
}
.jewellery__img img{
	max-width: 334px;
	height: 381px;
	box-shadow: -9px -9px 0 0 #fff, -9px -9px 0px 1px #000;
}
.jewellery__img img:hover {
	box-shadow: -9px -9px 0 0 #858484, -9px -9px 0px 1px #000000;
}
.jewellery__subtitle,
.jewellery__label {	
	font-size: 24px;
	font-weight: 700;
	line-height: 1.40;
}
.item__title {
	font-size: 46px;
	font-weight: 700;
	line-height: 113%;
	max-width: 339px;
	margin-bottom: 31px;
}
.item-2 {
	vertical-align: top;
}


