@use "sass:math";

// Null
@import '_reset.scss';
// Fonts
@import '_fonts.scss';
// Functions
@import '_functions.scss';

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Colors
// $mainColor: #7d7d7d;
// $secondColor: #37393f;
// $bgColor: #6b78e5;
// $bgSecondColor: #40ddb6;

// Medias
$pc: toEm(1023.98);
$tablet: toEm(991.98);
$mobile: toEm(767.98);
$mobileSmall: toEm(479.98); 

// Common
@import '_common.scss';
// Header
@import '_header.scss';
// Footer
@import '_footer.scss';

[class*='__container'] {
    max-width: #{$containerWidth}px;
    margin: 0 auto;
    padding: 0 toRem(15);
}
s
body {
    font-family: 'Inter', sans-serif;
    // color: $mainColor;
    @include adaptiveValue("font-size", 18, 16);
}
.wrapper {
    display: flex;
    flex-direction: column;
    overflow: clip;
    min-height: 100%;
    main {
        flex: 1 1 auto;
    }
}
.link {
    display: block;
    font-size: toRem(54);
    text-align: center;
}


