// Порядок має значення!!!!!
// Шрифти
@import "_fonts.scss";
// Обнулення 
@import "_reset.scss";
// Компоненти
@import "_common.scss";

body {
	font-family: "Inter", sans-serif;
	font-size: 18px;
}

// Змінні Scss
// $mainColor: #333;

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.wrapper main {
	flex-grow: 1;
}

[class*=__container] {
	max-width: 1250px;
	margin: 0 auto;
	padding: 0 15px;
}
.label {
	color: #37393F;
	font-weight: 500;
	display: inline-flex;
	&::before {
		content: "";
		width: 12px;
		height: 12px;
		flex-shrink: 0;
		flex-basis: 12px;
		background: #40DDB6;
		margin-right: 6px;
		margin-top: 2px;
	}
	@media (max-width: 500px) {
		display: block;
	}
}

.block {
	padding: 20px 0;
	&__container {
		&:not(:last-child) {
			margin-bottom: 40px;
		}
	}

	&__body {
		display: flex;
		justify-content: space-between;
		column-gap: 16px;
		@media (max-width: 500px) {
			flex-direction: column;
			row-gap: 15px;
		}
	}

	&__header {
		display: flex;
		flex-direction: column;	
		column-gap: 16px;	
		row-gap: 16px;
		flex: 0 1 555px;
		@media (max-width: 500px) {
			flex: 0 0 auto;
			text-align: center;
		}
	}
	&__label {
		
	}
	

	&__title {
		color: #37393F;
		font-family: "Poppins", sans-serif;
		font-size: 40px;
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		@media (max-width: 727px) {
			font-size: 32px;
		}
		@media (max-width: 610px) {
			font-size: 28px;
		}
		@media (max-width: 545px) {
			font-size: 24px;
		}
	}

	&__link {
		align-self: center;
		flex-shrink: 0;
		color: #FFF;
		font-style: normal;
		font-weight: 600;
		text-transform: capitalize;

		transition: background 0.3s;
		padding: 21px 45px;
		background: #40DDB6;

		&:hover {
			background: #1f6a57;
		}
		@media (max-width: 678px) {
			padding: 18px 35px
		}
		@media (max-width: 556px) {
			padding: 14px 30px;
		}
	}
	&__items {
		display: grid;
		padding: 0 15px;
		grid-template-columns: repeat(auto-fit,minmax(280px, 1fr));
		grid-auto-rows: 1fr;
		column-gap: 40px;
		row-gap: 15px;
		@media (max-width: 786.98px) {
			column-gap: 20px;
		}
	}
	&__item {
		max-width: 100%;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 434/501;
			object-fit: cover;
		}
	}			
	
}

.page {

	&__comments {
	}
}
.comments {

	&__container {
	}

	&__body {
		display: flex;
		column-gap: 30px;
		row-gap: 20px;
		@media (max-width: 1132px) {
			flex-wrap: wrap;	
		}
		
	}

	&__content {
		flex: 1 0 324px;
		@media (max-width: 1132px) {
			flex: 1 1 auto;
			text-align: center;
		}
	}

	&__label {
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__title {
		color: #37393F;
		font-family: "Poppins";
		font-size: 40px;
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		&:not(:last-child) {
			margin-bottom: 21px;
		}
		@media (max-width: 479px) {
			font-size: 32px;
		}
	}

	&__text {
		color: #7D7D7D;
		line-height: 1.46; /* 26.314px */
		&:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__items {
		display: flex;
		align-items: flex-start;
		column-gap: 37px;
		row-gap: 15px; 
		@media (max-width: 777px) {
			flex-wrap: wrap;
		}
	}

	&__item {
	}
}
.item-comments {
	display: flex;
	flex-direction: column;
	flex: 1 1 411px;
	background-color: #F6F6F6;
	padding: 50px 37px;
	@media (max-width: 391px) {
		padding: 30px 27px;
		margin: 0 -15px;
	}
	
		
		&__header {
			display: flex;
			column-gap: 16px;
			row-gap: 10px;
			flex-wrap: wrap;
			&:not(:last-child) {
				margin-bottom: 15px;
			}
			@media (max-width: 391px) {
				flex-basis: auto;
				justify-content: center;
				text-align: center;
			}
		}
		
		&__avatar {
			flex: 0 1 101px;
			img {				
				border-radius: 50%;
				width: 100%;
				height: 100%;
				aspect-ratio: 101 / 101;
				object-fit: cover;
			}
		}
		&__information {
			display: flex;
			flex-direction: column;
			align-self: center;			
		}
		&__nickname {
			color: #37393F;
			font-family: "Poppins";
			font-size: 20px;
			font-weight: 600;
		}
		
		&__label {
			color: #7D7D7D;
			font-size: 16px;
			line-height: 1.35; /* 21.63px */
		}
		
		&__rating {

		}
		&__text {
			color: #7D7D7D;
			font-size: 22px;
			font-style: italic;
			line-height: 1.46; /* 32.161px */
			&:not(:last-child) {
				margin-bottom: 15px;
			}
		}
}
		



