/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Poppins:200,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:700&display=swap");


@font-face {
	font-family: "Causten";
	src: url(../fonts/Causten-bold.woff2) format("woff2"),
			url(../fonts/Causten-bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Causten";
	src: url(../fonts/causten-semi-bold.woff2) format("woff2"),
			url(../fonts/causten-semi-bold.woff) format("woff");
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Causten";
	src: url(../fonts/Causten-medium.woff2) format("woff2"),
			url(../fonts/Causten-medium.woff) format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Causten";
	src: url(../fonts/Causten-regular.woff2) format("woff2"),
			url(../fonts/Causten-regular.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: "Causten";
	src: url(../fonts/Causten-Light.woff2) format("woff2"),
			url(../fonts/Causten-Light.woff) format("woff");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Core Sans C";
	src: url(../fonts/CoreSansC-Bold.woff2) format("woff2"),
			url(../fonts/CoreSansC-Bold.woff) format("woff");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

