@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна (макету)
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1220;
// Загальний відступ у контейнера
// (30 = по 15px ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Порядок має значення!!!!!
// Шрифти
@import "_fonts.scss";
// Обнулення 
@import "_reset.scss";
// Компоненти
@import "_common.scss";
// Функціонал
@import "_functions.scss";

body {
	font-family: "Inter", sans-serif;
	font-size: toRem(18);
}

// Використання змінних Scss
$textColor: #fff;

// Перевикористання коду, використання шаблону коду
 %title {
	color: #FFF;
	font-family: "Poppins";
	@include adaptiveValue("font-size", 40, 36);
	font-weight: 700;
	line-height: 1.21; /* 48.4px */
 }

 %label {
	display: inline-flex;
	align-items: center;
	gap: 7px;
	color: #FFF;
	font-weight: 600;
	line-height: 1.46; /* 26.314px */
	&::before {
		content: "";
		width: toEm(12);
		height: toEm(12);
		background: #40DDB6;
		margin-top: 1px;
	}
 }

// @mixin та @include



.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	> main {
		flex-grow: 1;
	}	
}

[class*=__container] {
	max-width: #{$containerWidth}px;
	margin: 0 auto;
	padding-left: toRem(15);
	padding-right: toRem(15);
}	

.page {

	&__hero {
		
	}

	&__information {
		/*padding-top: toRem(145);*/
		@include adaptiveValue ("padding-top", 145, 30);
		@include adaptiveValue ("padding-bottom", 145, 30);
		
	/*@media (max-width: toEm(690)) {
		padding-top: toRem(100);
	}*/
		&:not(:last-child) {
			@include adaptiveValue ("margin-bottom", 100, 30);
		}
	}

	&__brands {
		//@include adaptiveValue ("padding-top", 100, 30);
		&:not(:last-child) {
			@include adaptiveValue ("margin-bottom", 82, 30);
		}
	}

	&__statistic {
		&:not(:last-child) {
			@include adaptiveValue ("margin-bottom", 130, 30);
		}
	}
	&__book {
		background-color: #6B77E5;
		@include adaptiveValue ("padding-top", 123, 30);
		@include adaptiveValue ("padding-bottom", 123, 30);
	}
}



	

// HEADER

// ---------- header ----------------------
.header {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
	background-color: #fff;
	&__container {
		display: flex;
		@include adaptiveValue("gap", 20, 15);
		align-items: center;
		justify-content: flex-end;
		min-height: toRem(100);
		padding-top: toRem(5);
		padding-bottom: toRem(5);
		@media (max-width: toEm(960)) {
			min-height: toRem(70);
		}
		@media (max-width: toEm(390)) {
			justify-content: space-between;
		}
		img {
			position: relative;
			z-index: 5;
		}
	}

	&__logo {
		display: inline-flex;
		align-items: center;
		flex-grow: 1;
		position: relative;
		z-index: 5;
		color: #37393F;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 25, 18);
		font-weight: 700;
		span {
			color: #6B77E5;
		}
		/*&::before {
			content: "";
			width: 42px;
			height: 29px;
			margin-right: toRem(4);
			background: url('../img/icons/logo.svg') center / 42px no-repeat;
		}*/
		@media (max-width: toEm(390)) {
			display: none;
		}
		
	}

	&__menu {
		display: flex;
		flex-wrap: wrap;

		@media (max-width: toEm(960)) {
			position: fixed;
			width: 100%;
			height: 100%;
			overflow: auto;
			top: 0;
			left: -100%;
			transition: left 0.3s;
			padding: 80px 15px 30px 15px;
			background-color: #f7ab78;

			justify-content: center;
			&::before {
				content: "";
				position: fixed;
				width: 100%;
				height: 70px;
				top: 0;
				left: -100%;
				z-index: 2;
				transition: left 0.3s;
				background-color: #f7ab78;
			}			
		}
	}

	&__list {
		display: flex;
		justify-content: center;
		column-gap: toRem(40);
		row-gap: toRem(15);
		flex-wrap: wrap;
		@media (max-width: toEm(960)) {
			flex-direction: column;
			text-align: center;
			row-gap: toRem(28);
		}
	}

	&__item {
		&--parent {
			position: relative;
			& .header__link {
				display: flex;
				align-items: center;
				gap: toRem(6);
				&::after {
					content: "";
					background: url('../img/icons/arrow.svg') 0 0 no-repeat;
					flex: 0 0 12px;
					height: 7px;
					width: 8px;
					transition: transform 0.3s;
				}
			}
			@media (any-hover: hover) {
				&:hover {
					& .sub-menu {
						opacity: 1;
						transform: translate(0px, 0px);
						visibility: visible;
						pointer-events: all;
					}
					& .header__link {
						&::after {
							transform: rotate(-180deg);
						}							
						
					}
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				& .header__link {
					text-decoration: underline;					
				}
			}
		}
	}

	&__link {
		color: #37393F;
		transition: all 0.3s;
		@media (max-width: toEm(960)) {
			font-size: toRem(28);
			color: #3C4242;
			justify-content: center;
		}
		
	}

	&__sub-menu {

	}

	&__button {
		position: relative;
		z-index: 5;
		flex-shrink: 0;
		padding: toRem(22) toRem(35);
		background: #6B77E5;
		transition: background 0.3s;
		color: #FFF;
		font-weight: 600;
		text-transform: capitalize;
		&:hover {
			background: #3a3f72;
		}
		@media (max-width: toEm(960)) {
			font-size: toRem(14);
			padding: toEm(18) toEm(25);
		}
	}
}

.icon-menu {
	display: none;
	@media (max-width: toEm(960)) {
		width: 30px;
		display: block;
		flex: 0 0 30px;
		height: 18px;
		position: relative;
		z-index: 5;
		&::before,
		&::after,
		span {
			content: "";
			height: 2px;
			width: 100%;
			position: absolute;
			left: 0;
			transition: all 0.3s;
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: 50%;
			margin-top: -1px;
		}
	}
}

.menu-open {
	@media (max-width: toEm(960)) {
		body {
			overflow: hidden;
		}
		& .header__menu {
			left: 0;
			&::before {
				left: 0;
			}
		}		
		& .icon-menu {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: 50%;
				margin-top: -1px;
			}
			&::after {
				transform: rotate(45deg);
				bottom: 50%;
				margin-bottom: -1px;
			}
		}
	}	
}


.sub-menu {
	 transition: all 0.3s;
	 @media (min-width: toEm(960)) {
		position: absolute;
		top: 100%;
		left: 0;
		padding-top: 5px;
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
	 }    
	 @media (max-width: toEm(960)) {
		position: relative;
		visibility: visible;
		opacity: 1;
		padding-top: toRem(10);
		transform: translate(0px, 0px);
	}

	&__list {
		width: toRem(200);
		border-radius: 15px;
		padding: toRem(15);
		background-color: rgb(240, 201, 175);
		box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
		@media (max-width: toEm(960)) { 
			width: 100%;
			border-radius: 0;
		}
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		@media (max-width: toEm(960)) { 
			&:not(:last-child) {
				margin-bottom: toRem(20);
			}
		}
	}

	&__link {
		color: #37393F;
		font-size: toRem(18);
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (max-width: toEm(960)) { 
			font-size: toRem(24);
		}
	}
}


// ---------- sub-header ----------------------
.sub-header {
	background-color: #3C4242;
	@media (max-width: toEm(960)) {
		display: none;
	}
	
		&__container {
	
		}

		&__body {	
			min-height: toRem(70);
			padding-top: toRem(5);
			padding-bottom: toRem(5);
			display: flex;
			align-items: center;
			justify-content: space-between;			
			flex-wrap: wrap;
			column-gap: toRem(15);
			row-gap: toRem(10);
			@media (max-width: toEm(895)) {
				justify-content:center;	
			}
		}

		&__info {
			display: flex;			
			column-gap: toRem(43);
			row-gap: toRem(10);			
		}

		&__icons {
			display: flex;
			column-gap: toRem(16);		
		}

		&__icon{
			max-width: 100%;
			transition: transform 0.3s;
			img {
				flex: 0 0 toRem(18);			
			}
			&:hover {
				transform: scale(1.1);
			}			
		}

		&__address {
			display: inline-flex;
			align-items: center;
			color: #FFF;
			font-size: 14px;
			gap: toEm(9);
			&::before {
				content: "";
				width: 15px;
				height: 22px;
				background: url('../img/icons/address.svg') center / 15px no-repeat;
			}
		}

		&__email {
			display: inline-flex;
			align-items: center;	
			color: #FFF;
			font-size: 14px;
			gap: toEm(9);
			&::before {
				content: "";
				width: 20px;
				height: 15px;
				background: url('../img/icons/message.svg') center / 20px no-repeat;
			}
		}
		&__time {
			display: inline-flex;
			align-items: center;	
			color: #FFF;
			font-size: 14px;
			gap: toEm(9);
			&::before {
				content: "";
				width: 15px;
				height: 15px;
				background: url('../img/icons/time.svg') center / 15px no-repeat;
			}
		}
}

// PAGE

//---------------hero--------------------
	


.hero {
	display: flex;
	position: relative;
	min-height: calc(100vh - 100px);
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;		
	}

	&__content {
		position: relative;
		flex: 0 1 636px;
		/*flex: 1 1 50%;*/
			
		background-color: rgba(55, 57, 63, 0.91);
		backdrop-filter: blur(9.5px);
	}

	&__body {
		flex: 0 1 50%;
		padding-top: 25%;
		padding-bottom: 25%;
		padding-left: 10%;	
		padding-right: 10%;
		@media (max-width: toEm(504)) {
			justify-content: center;
			text-align: center;
		}	
	}

	&__label {
		@include adaptiveValue ("font-size", 18, 16);
		@extend %label;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
		
	}

	&__title {
		color: #FFF;
		font-family: "Poppins";
		@include adaptiveValue ("font-size", 60, 36);
		font-weight: 700;
		line-height: 110%;
		span {
			color: #40DDB6;
		} /* 66px */
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__descr {
		
		p {
			color: #B9B9B9;
			font-weight: 500;
			line-height: 1.46; /* 26.314px */
		}
		&:not(:last-child) {
			margin-bottom: toRem(30);
		}
	}

	&__items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		column-gap: toRem(30);
		row-gap: toRem(15);
		@media (max-width: toEm(504)) {
			justify-content: center;
		}
	}

	&__item {
		color: #37393F;
		font-weight: 600;
		text-transform: capitalize;
		transition: all 0.3s;
		background: #40DDB6;
		padding: toEm(22) toEm(27);
		&:hover {
			color: #fff;
			background: #246b59;
		}
	}

	&__video {
		display: flex;		
		gap: toRem(10);
		align-items: center;		
		img {
			aspect-ratio: 61 / 61;
			object-fit: cover;
			transition: transform 0.3s;
			&:hover {
				transform: scale(1.1);
			}
		}
		
	}
	&__video-link {
		color: #FFF;
		font-weight: 600;
		text-transform: capitalize;
		&:hover {
			text-decoration: underline;
		}
	}
}


// ----------------INFORMATION--------------------------


.information {
	background: #F4F4F4;
	&__container {
		display: flex;		
		column-gap: toRem(69);
		row-gap: toRem(35);
		@media (max-width: toEm(960)) {
			flex-wrap: wrap;
		}
		@media (max-width: toEm(504)) {
			justify-content: center;
			text-align: center;
		}	
	}

	&__asside {
	}

	&__body {
		
	}

	&__label {
		@extend %label;
		color: #37393F;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
		
	}

	&__title {
		color: #37393F;
		font-family: "Poppins";
		@include adaptiveValue ("font-size", 40, 36);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
		@media (min-width: toEm(960)) {
			max-width: toRem(413);
		}
	}

	&__text {
		color: #7D7D7D;
		line-height: 1.46; /* 26.314px */
		& p:not(:last-child) {
			margin-bottom: toRem(15);
		}
		&:not(:last-child) {
			margin-bottom: toRem(20);
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: toEm(23);
		&:not(:last-child) {
			margin-bottom: toRem(43);
		}
	}

	&__item {
		display: inline-flex;
		line-height: 1.46;
		gap: toEm(8);
		&::before {
			content: "";
			flex: 0 0 28px;
			width: 28px;
			height: 28px;
			background: url('../img/icons/item-li.svg') center no-repeat;
			margin-top: -2px;
		}
	}

	&__link {
		flex-shrink: 0;
		font-size: toRem(18);
		color: #FFF;
		font-weight: 600;
		text-transform: capitalize;
		padding: toEm(22) toEm(27);
		background: #6B77E5;
		transition: background 0.3s;
		&:hover {
			background: #3b4173;
		}
		@media (max-width: toEm(504)) {
			font-size: toRem(22);
		}	
	}

	.information {

		&__achivements {
			display: flex;
			/*flex-wrap: wrap;*/
			column-gap: toRem(21);
			row-gap: toRem(15);
			@media (max-width: toEm(640)) {
				flex-wrap: wrap;
			}
			&:not(:last-child) {
				margin-bottom: toRem(37);
			}
		}

		&__achivement {
		}
}
.achivement-information {
		display: flex;

		&__body {
			display: flex;
			column-gap: toRem(19);
			row-gap: toRem(15); // для безпеки
			padding: toRem(32);
			border: 1px solid #E3E3E3;
			flex: 1 1 toRem(296);
		}

		&__icon {
		}

		&__descr {
			
		}

		&__title {
			color: #37393F;
			font-family: "Poppins";
			font-size: toRem(20);
			font-weight: 600;
			line-height: 1.21;
		}

		&__text {
			color: #7D7D7D;
			font-size: toRem(16);
			line-height: 1.35; /* 21.63px */
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}
	}
}
.asside-information {
	
	&__image {
		max-width: 100%;
		img {
			width: 100%;
			height: 100%;
			aspect-ratio: 408 / 446;
			object-fit: cover;
		}
		&:not(:last-child) {
			margin-bottom: toRem(22);
		}
	}

	&__content {
	}

	&__title {
		color: #37393F;
		font-family: "Poppins";
		@include adaptiveValue ("font-size", 30, 26);
		font-weight: 600;
		line-height: 1.21; /* 36.3px */
		&:not(:last-child) {
			margin-bottom: toRem(13);
		}
	}

	&__text {
		color: #7D7D7D;
		line-height: 1.46; /* 26.314px */
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
	}

	&__link {
		color: #37393F;
		font-weight: 600;
		text-transform: capitalize;
		transition: all 0.3s;
		overflow: hidden;
		&:after {
			content: "";
			width: 0;
			display: block;
			height: 3px;
			left: 50%;
			position: relative;
			margin-top: 2px;
			background-color: #37393F;
			transition: all 0.3s;
		}
		&:hover {
			color: #37393F;
			&:after {
				background-color: #37393F;
				width: 100%;
				left: 0;
			}
		}
		&:not(:last-child) {
			margin-bottom: toRem(13);
		}
	}
}

//--------------------------BRANDS-----------------------


.brands {

	&__container {
	}

	&__body {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		column-gap: toRem(30);
		row-gap: toRem(15);
		@media (max-width: toEm(504)) {
			justify-content: center;
		}	
	}

	&__item {
	}
}

//--------------------------STATISTIC-----------------------

.statistic {
	

	&__container {
		display: flex;
		flex-direction: column;
		
	}

	&__header {		
		text-align: center;
		/*max-width: toRem(495);*/
		&:not(:last-child) {
			margin-bottom: toEm(40);
		}
	}

	&__label {
		@extend %label;
		color: #37393F;
		font-weight: 500;
		&:not(:last-child) {
			margin-bottom: toEm(16);
		}
		
	}

	&__title {
		color: #37393F;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 40, 32);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		/*flex: 0 1 495px;*/
		
		
	}

	&__items {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(32);
		row-gap: toRem(15);
	}

	&__item {
	}
}
.item-statistic {
	display: flex;
	position: relative;
	overflow: hidden;
	justify-content: space-between;
	column-gap: toRem(20);
	row-gap: toRem(20);
	flex: 1 1 toRem(385);
	padding: toRem(30);
	background: #F4F4F4;
	&--blue {
		background-color: #6B77E5;
		align-items: center;
		text-align: center;
		& .item-statistic__title {
			color: #fff;
					
		}
	}
	&:nth-child(-n + 5) {
		&::before {
			content: 'More Services';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			background-color: #6B77E5;
			transition: left 0.3s;
	
			color: #FFF;
			@include adaptiveValue("font-size", 25, 18);
			font-weight: 600;
			text-transform: capitalize;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&:hover {
			&:before {
				left: 0;
				cursor: pointer;
			}
		}
	}	
	
	&__descr {
/*		max-width: toEm(163);*/
		flex: 1 1 toEm(163);
	}

	&__title {
		color: #37393F;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 25, 18);
		font-weight: 600;
		line-height: 1.27; /* 31.75px */
		&:not(:last-child) {
			margin-bottom: toRem(27);
		}
	}

	&__link {
		color: #6B77E5;
		font-weight: 600;
		text-transform: capitalize;
		&:hover {
			text-decoration: underline;
		}
	}

	&__image {
		
		img {
			display: inline-flex;
			flex: 0 0 toRem(74);
			padding: toRem(12) toRem(14);
			text-align: center;
			border-radius: toRem(72);
			background-color: #40DDB6;
		}
		&--blue {
			img {
				background-color: #6B77E5;
			}
		}// я намагався зробити її не обрізаним, але не виходить!!!
		&--big {
			img {
				padding: toRem(19);
				border-radius: toRem(30);
			}
		}
		
	}
}

// -------------------------- BOOK -------------------------------

.book {

	&__container {
	}

	&__body {
		display: flex;

		column-gap: toRem(53);
		row-gap: toRem(25);
		@media (max-width: toEm(960)) {
			flex-wrap: wrap;
		}
	}

	&__information {
	}
}
.information-book {
	display: flex;
	flex-direction: column;
	flex: 1 1 toRem(587);

	&__label {
		@extend %label;
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
		@media (max-width: toEm(504)) {
			justify-content: center;
		}
	}

	&__title {
		color: #FFF;
		font-family: "Poppins";
		@include adaptiveValue("font-size", 40, 36);
		font-weight: 700;
		line-height: 1.21; /* 48.4px */
		&:not(:last-child) {
			margin-bottom: toRem(21);
		}
		@media (max-width: toEm(504)) {
			text-align: center;
		}
	}

	&__text {
		color: #FFF;
		line-height: 1.46; /* 26.314px */
		&:not(:last-child) {
			margin-bottom: toRem(15);
		}
		@media (max-width: toEm(504)) {
			text-align: center;
		}
	}

	&__points {
	}

	&__items {
		flex-grow: 1;
	}

	&__item {
		display: flex;
		position: relative;
/*		align-items: flex-start;
*/		line-height: 1.46;
		gap: toRem(16);
		&::before {
			content: "";
			flex: 0 0 28px;
			width: 28px;
			height: 28px;
			background: url('../img/icons/book/vector.svg') center no-repeat;
		}
		/*&:nth-child(-n + 2) {
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				bottom: 0;
				left: 0;
				background-color: #FFF;
				height: 1px;
				}
			}*/
		&:not(:last-child) {
			margin-bottom: toRem(16);
		}
	}
	&__content {
		color: #FFF;
		font-family: "Poppins";
		&--border {
			padding-bottom: toRem(21);
			border-bottom: 1px solid #fff;
		}

		/*&:last-child {
			border-bottom: none;
		}*/
		h5 {
			font-size: toRem(22);
			font-weight: 600;
		}
		p {
			font-family: "Inter";
			line-height: 1.46;			
			&:not(:last-child) {
				margin-bottom: toRem(10);
			}
		}	
	}
}
.points-book {
	display: flex;
	
	background: #40DDB6;
	padding: toRem(35);
	max-width: toRem(587);
	color: #FFF;
	font-family: "Poppins";
	
	&:not(:last-child) {
		margin-bottom: toRem(50);
	}
	

	&__body {
		display: flex;
		align-items: center;
		column-gap: toRem(23);
		row-gap: toRem(10);
		@media (max-width: toEm(504)) {
			justify-content: center;
			text-align: center;
			flex-wrap: wrap;
		}
	
	}

	&__chart {
		display: flex;
		flex-direction: column;

		flex: 0 0 toRem(128);
		padding: toRem(36) toRem(18) toRem(32) toRem(22);
		text-align: center;
		border: 5px solid #6B77E5;
		border-radius: 50%;

		span {
			font-weight: 600;
		}		
	}

	&__big {
		font-size: toRem(35);
		font-weight: 700;
		line-height: 1.21; /* 42.35px */
	}

	&__text {
		font-size: toRem(25);
		line-height: 1.27; /* 31.75px */
		span {
			font-weight: 700;
		}
	}
}

/*display: inline-flex;
		line-height: 1.46;
		gap: toEm(8);
		&::before {
			content: "";
			flex: 0 0 28px;
			width: 28px;
			height: 28px;
			background: url('../img/icons/item-li.svg') center no-repeat;
			margin-top: -2px;
		}*/

		.book {

			&__form {
			}
	}
	.form-book {
	
			&__header {
				&:not(:last-child) {
					margin-bottom: toRem(24);
				}
				@media (max-width: toEm(504)) {
					text-align: center;
				}
			}
	
			&__label {
				@extend %label;
				&:not(:last-child) {
					margin-bottom: toRem(16);
				}
			}
	
			&__title {
				@extend %title;
			}
	
			&__form {
				background-color:#FFF;
				padding: toRem(58);
				@media (max-width: toEm(504)) {
					text-align: center;
					padding: toRem(42);
				}
			}
	
			&__content {
				display: flex;
				flex-direction: column;
				row-gap: toRem(30);
				&:not(:last-child) {
					margin-bottom: toRem(25);
				}
			}
	
			&__line {
				&--half {
					display: flex;
					flex-wrap: wrap;
					flex: 0 1 50%;
					column-gap: toRem(23);
					row-gap: toRem(30);
				}
			}
	
			&__input {
				width: 100%;
				padding: toRem(22) toRem(33);
				border: 1px solid #DDD;
				background: #F8F8F8;
				&::placeholder {
					color: #37393F;
				}
				@media (max-width: toEm(504)) {
					padding: toRem(18) toRem(28);
					&::placeholder {
						font-size: toRem(16);
					}
				}
			}
			
			&__textarea {
				width: 100%;
				padding: toRem(22) toRem(33);
				border: 1px solid #DDD;
				background: #F8F8F8;
				min-height: toRem(139);
				line-height: 1.46;
				resize: vertical;
				&::placeholder {
					color: #37393F;
				}
			}
			&__btn {
				background: #40DDB6;
				padding: toRem(22) toRem(61);
				color: #37393F;
				font-weight: 600;
				text-transform: capitalize;
				@media (max-width: toEm(504)) {
					padding: toRem(18) toRem(41);
				}
			}
	}

	